In [2]:
import pandas as pd

In [3]:
zomato = pd.read_csv('zomato.csv',encoding ='cp1252')

In [8]:
zomato.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9351 entries, 0 to 9350
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Restaurant ID         9351 non-null   int64
 1   Restaurant Name       9351 non-null   object
 2   Country Code          9351 non-null   int64
 3   City                  9351 non-null   object
 4   Address               9351 non-null   object
 5   Locality              9351 non-null   object
 6   Locality Verbose      9351 non-null   object
 7   Longitude             9351 non-null   float64
 8   Latitude              9351 non-null   float64
 9   Cuisines              9351 non-null   object
 10  Average Cost for two  9351 non-null   int64
 11  Currency              9351 non-null   object
 12  Has Table booking     9351 non-null   int64
 13  Has Online delivery   9351 non-null   int64
 14  Is delivering now     9351 non-null   int64
 15  Switch to order menu  9351 non-null   int64
 16  Price range           9351 non-null   int64
 17  Aggregate rating      9351 non-null   float64
 18  Rating color          9351 non-null   object
 19  Rating text           9351 non-null   object
 20  Votes                 9351 non-null   int64
dtypes: float64(3), int64(9), object(9)
memory usage: 1.5+ MB

In [10]:
zomato['Average Cost for two'].value_counts()

500     999
300     948
400     924
600     705
200     700
       ...
4100      1
4300      1
4700      1
5100      1
7000      1
Name: Average Cost for two, Length: 80, dtype: int64

In [40]:
priceList = { 'low' : 'dfzomato < 300', 'moderate': '(dfzomato >300) & (dfzomato<700)', 'high' : 'dfzomato > 700'}

In [41]:
def getCorrectPriceList(type):
    condition = priceList.get(type)
    dfzomato = zomato['Average Cost for two']
    return zomato[ eval(condition)]

In [42]:
getCorrectPriceList('moderate')

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
2,3400005,Time2Eat - Mama Chicken,1,Agra,"Main Market, Sadar Bazaar, Agra Cantt, Agra",Agra Cantt,"Agra Cantt, Agra",78.011608,27.160832,North Indian,...,Indian Rupees(Rs.),0,0,0,0,2,3.6,9ACD32,Good,94
3,3400005,Mama Chicken Mama Franky House,1,Agra,"A-17, Shoping Arcade, Sadar Bazaar, Agra Cantt...",Agra Cantt,"Agra Cantt, Agra",78.011627,27.161854,"North Indian, Mughlai, Rolls, Chinese, Fast Fo...",...,Indian Rupees(Rs.),0,1,0,0,2,4.3,5BA829,Very Good,31399
4,3400021,Chokho Jeeman Marwari Jain Bhojanalya,1,Agra,"1/48, Delhi Gate, Station Road, Raja Mandi, Ci...",Civil Lines,"Civil Lines, Agra",77.998364,27.195759,Rajasthani,...,Indian Rupees(Rs.),0,1,0,0,2,4.5,3F7E00,Excellent,4944
9,3400021,Chokho Jeeman Marwari Jain Bhojanalya,1,Agra,"1/48, Delhi Gate, Station Road, Raja Mandi, Ci...",Civil Lines,"Civil Lines, Agra",77.998092,27.195928,Rajasthani,...,Indian Rupees(Rs.),0,0,0,0,2,4.0,5BA829,Very Good,87
10,3400275,Domino's Pizza,1,Agra,"114/23 G, Deep Shikha Complex, Sanjay Place, C...",Civil Lines,"Civil Lines, Agra",78.007556,27.201516,"Pizza, Fast Food",...,Indian Rupees(Rs.),0,0,0,0,2,4.2,5BA829,Very Good,8608
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9341,2800128,Sea Inn - Raju Gaari Dhaba,1,Vizag,"Beach Road, Opposite Cyclone Shelter , Visak...",Rushikonda,"Rushikonda, Vizag",83.382858,17.783869,"Biryani, Andhra",...,Indian Rupees(Rs.),0,0,0,0,2,4.0,5BA829,Very Good,169
9342,2800100,D Cabana,1,Vizag,"Beach Road, Near Bus Stop, Sagar Nagar, Visakh...",Sagar Nagar,"Sagar Nagar, Vizag",83.361377,17.764287,"Continental, Seafood, Chinese, North Indian, B...",...,Indian Rupees(Rs.),0,0,0,0,2,3.6,9ACD32,Good,193
9343,2800868,Raju's Kitchen,1,Vizag,"D.no: 55-8-34/16, Ground Floor, APSEB Colony R...",Seethammadhara,"Seethammadhara, Vizag",83.314348,17.743710,"Biryani, Chinese, North Indian, Fast Food, Sou...",...,Indian Rupees(Rs.),0,1,0,0,2,4.1,5BA829,Very Good,22124
9344,2800418,Kaloreez,1,Vizag,"Plot 95, Opposite St. Lukes Nursing School, Da...",Siripuram,"Siripuram, Vizag",0.000000,0.000000,"Cafe, North Indian, Chinese",...,Indian Rupees(Rs.),0,0,0,0,2,3.7,9ACD32,Good,85
9346,2800881,Plot 17,1,Vizag,"Plot 17, Gangapur Layout, Siripuram, Vizag",Siripuram,"Siripuram, Vizag",83.315281,17.719539,"Burger, Pizza, Biryani",...,Indian Rupees(Rs.),0,0,0,0,2,4.3,5BA829,Very Good,172

In [46]:
def RestaurantSearch(City,Cuisine,Price):
    TEMP = zomato[(zomato['Cuisines'].apply(lambda x: Cuisine.lower() in x.lower())) & (zomato['City'].apply(lambda x: City.lower() in x.lower()))]
    TEMP = getCorrectPriceList(TEMP,Price)
    TEMP = TEMP.sort_values(by='Aggregate rating', ascending=False)
    return TEMP[['Restaurant Name','Address','Average Cost for two','Aggregate rating']]

In [47]:
def getCorrectPriceList(dataFrame, type):
    priceList = { 'low' : 'dfprice < 300', 'mid': '(dfprice >300) & (dfprice<700)', 'high' : 'dfprice > 700'}
    condition = priceList.get(type)
    dfprice = dataFrame['Average Cost for two']
    return dataFrame[eval(condition)]

In [56]:
df = RestaurantSearch('Mumbai','Chinese','high')

In [57]:
df

,Restaurant Name,Address,Average Cost for two,Aggregate rating
2286,The Fusion Kitchen,"Shop 1, Opposite Veda Building, Near Bhavdevi ...",1000,4.7
2281,Yauatcha,"Raheja Tower, Bandra Kurla Complex, Mumbai",2800,4.6
2283,Butterfly High,"Unit 4, Ground Floor, Jet Airways, Godrej G Bl...",1500,4.3
2282,BKC DIVE,"Ground Floor, Pinnacle Corporate Park, Opposit...",1100,4.2
2288,Bayview Cafe,"Hotel Harbour View, Kerawala Chamber, Opposite...",1200,4.2
2291,Tea Villa Cafe,"31, Opposite Globus, Hill Road, Bandra West",1000,4.1
2316,Tea Villa Cafe,"28, Aaram Nagar 1, Opposite Dariya Mahal, Vers...",1000,4.1
2315,By The Bae - Kitchen And Bar,"9A - 9B, Aram Nagar 2, JP Road, Versova, Andhe...",2500,4.0
2304,Tea Villa Cafe,"Shop 1& 2, Y-Building, Flower Valley, Opposite...",1000,3.9
2299,Mumbai Vibe,"Ganga Jamuna Block, 14th Road, Linking Road, B...",1000,3.8
2310,38 Degree East,"Panchkutir, Pawarwardi, Adhishankracharya Marg...",1000,3.8
2317,Tea Villa Cafe,"Pardhy House, Opposite Jain Temple, Junction o...",1000,3.6

In [9]:
def getRestaurantList(restaurants, maxNum):
    index = 0
    response =''
    responseNum = maxNum
    if(restaurants.shape[0] < maxNum):
        responseNum = restaurants.shape[0]

    for restaurant in restaurants.iloc[:responseNum].iterrows():
        index = index + 1
        restaurant = restaurant[1]
        response = response + F"{index}. {restaurant['Restaurant Name']} in {restaurant['Address']} rated {restaurant['Aggregate rating']} with avg cost {restaurant['Average Cost for two']} \n\n"
    return response

In [10]:
getRestaurantList(zomato,5)

'1. Jahanpanah in E 23, Shopping Arcade, Sadar Bazaar, Agra Cantt, Agra rated 3.9 with avg cost 850 \n\n2. Rangrezz Restaurant in E-20, Shopping Arcade, Sadar Bazaar, Agra Cantt, Agra rated 3.5 with avg cost 700 \n\n3. Time2Eat - Mama Chicken in Main Market, Sadar Bazaar, Agra Cantt, Agra rated 3.6 with avg cost 500 \n\n4. Mama Chicken Mama Franky House in A-17, Shoping Arcade, Sadar Bazaar, Agra Cantt, Agra rated 4.3 with avg cost 600 \n\n5. Chokho Jeeman Marwari Jain Bhojanalya in 1/48, Delhi Gate, Station Road, Raja Mandi, Civil Lines, Agra rated 4.5 with avg cost 400 \n\n'

In [11]:
getRestaurantList(zomato[:2],5)

'1. Jahanpanah in E 23, Shopping Arcade, Sadar Bazaar, Agra Cantt, Agra rated 3.9 with avg cost 850 \n\n2. Rangrezz Restaurant in E-20, Shopping Arcade, Sadar Bazaar, Agra Cantt, Agra rated 3.5 with avg cost 700 \n\n'

In [12]:
getRestaurantList(zomato,10)

'1. Jahanpanah in E 23, Shopping Arcade, Sadar Bazaar, Agra Cantt, Agra rated 3.9 with avg cost 850 \n\n2. Rangrezz Restaurant in E-20, Shopping Arcade, Sadar Bazaar, Agra Cantt, Agra rated 3.5 with avg cost 700 \n\n3. Time2Eat - Mama Chicken in Main Market, Sadar Bazaar, Agra Cantt, Agra rated 3.6 with avg cost 500 \n\n4. Mama Chicken Mama Franky House in A-17, Shoping Arcade, Sadar Bazaar, Agra Cantt, Agra rated 4.3 with avg cost 600 \n\n5. Chokho Jeeman Marwari Jain Bhojanalya in 1/48, Delhi Gate, Station Road, Raja Mandi, Civil Lines, Agra rated 4.5 with avg cost 400 \n\n6. Pinch Of Spice in 23/453, Opposite Sanjay Cinema, Wazipura Road, Sanjay Place, Civil Lines, Agra rated 4.5 with avg cost 1600 \n\n7. Cake House in 23/301, Wazirpura Road, Judge Compound Chowraha, Wazirpura, Civil Lines, Agra rated 3.8 with avg cost 300 \n\n8. Aahar in 26/118, Opposite Income Tax Building, Sanjay Place, Civil Lines, Agra rated 4.2 with avg cost 700 \n\n9. Bhagat Halwai in Near Anjana Cinema, Nehru Nagar, Civil Lines, Agra rated 4.3 with avg cost 300 \n\n10. Chokho Jeeman Marwari Jain Bhojanalya in 1/48, Delhi Gate, Station Road, Raja Mandi, Civil Lines, Agra rated 4.0 with avg cost 400 \n\n'

In [14]:
getRestaurantList(zomato[:8],10)

'1. Jahanpanah in E 23, Shopping Arcade, Sadar Bazaar, Agra Cantt, Agra rated 3.9 with avg cost 850 \n\n2. Rangrezz Restaurant in E-20, Shopping Arcade, Sadar Bazaar, Agra Cantt, Agra rated 3.5 with avg cost 700 \n\n3. Time2Eat - Mama Chicken in Main Market, Sadar Bazaar, Agra Cantt, Agra rated 3.6 with avg cost 500 \n\n4. Mama Chicken Mama Franky House in A-17, Shoping Arcade, Sadar Bazaar, Agra Cantt, Agra rated 4.3 with avg cost 600 \n\n5. Chokho Jeeman Marwari Jain Bhojanalya in 1/48, Delhi Gate, Station Road, Raja Mandi, Civil Lines, Agra rated 4.5 with avg cost 400 \n\n6. Pinch Of Spice in 23/453, Opposite Sanjay Cinema, Wazipura Road, Sanjay Place, Civil Lines, Agra rated 4.5 with avg cost 1600 \n\n7. Cake House in 23/301, Wazirpura Road, Judge Compound Chowraha, Wazirpura, Civil Lines, Agra rated 3.8 with avg cost 300 \n\n8. Aahar in 26/118, Opposite Income Tax Building, Sanjay Place, Civil Lines, Agra rated 4.2 with avg cost 700 \n\n'